<ul class="events">
  <% current_user.events.each do |event| %>
    <li>
      <%= event.year %>
      <%= event.season %>
      <%= event.city.name %>
      <%= event.title %>
    </li>
  <% end %>
</ul>
